<h1>Add a New Distributor</h1>
 <form action="/distributors" method="post">
   <div class="form-group">
     <label for="distributor_name">Distributor Name:</label>
     <input type="text" name="distributor_name" id="distributor_name">
   </div>
   <div class="form-group">
     <label for="city">City:</label>
     <input type="text" name="city" id="street">
   </div>
   <div class="form-group">
     <label for="street">Street Name:</label>
     <input type="text" name="street" id="street">
   </div>
   <div class="form-group">
     <label for="building">Building Location:</label>
     <input type="text" name="building" id="building">
   </div>
   <div class="form-group">
    <label for="tel">Telephone no:</label>
     <input type="tel" name="tel" id="tel">
   </div>
  <button type="submit" class="btn">Add Store</button>
 </form>
