<h1>Welcome to my Shoe Distribution App</h1>

 <p>
   My app allows you track specific brand of shoes_distributions_development with their specific distributors.
 </p>

 <ul>
   <li><a href='/stores/new'>Add a New Distributor</a></li>
 </ul>
