<h1>Welcome to my Shoe Distribution App</h1>

 <p>
   My app allows you track specific brand of shoes with their specific distributors.
 </p>

 <ul>
   <li><a href='/distributors/new'>Add a New Distributor</a></li>
   <li><a href="/distributors">View all Distributors</a></li>
   <li><a href="/brands">View all Brands</a></li>
 </ul>
