<html>
   <head>
     <title>Shoe Tracker</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="/css/styles.css">
 </head>
   <body>
     <div class="container">
       <%= yield %>
<hr>
      <a href="/">Home</a></li>
      <a href="/distributors">All Distributors</a>
      <a href="/brands">All Brands</a>

    </div>
   </body>
 </html>
